@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Sansita+Swashed:wght@300..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFCA8;
}